
* {
  background-color: #f7faff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy,arial,sans-serif;
  color: inherit;
}

.home-container{
  /* border: 1px solid brown; */
  height: 100vh;
display: grid;
grid-template-columns: repeat(2 , 1fr);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.home-heading{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* text-align: center; */
}

.home-img{
  /* border: 1px solid red; */
  width: 700px;
  height: 100%;
}